#projects main {
    gap: 25px;
    width: 100%;
    display: grid;
    place-items: start;
    grid-template-columns: 1fr 1fr 1fr;
}
.project-container {
    padding: 15px;
    max-width: 350px;
    border-radius: 10px;
    background: var(--secondary-bg-color);
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.project-title {
    font-size: 18px;
    color: var(--main-color);
}

.project-description {
    font-size: 15px;
    color: var(--secondary-text-color);
}

.technologies-used {
    gap: 15px;
    margin: 10px 0;
    display: flex;
    list-style: none;
    align-items: center;
    align-self: flex-end;
}

.technologies-used li {
    width: 40px;
    height: 40px;
    display: flex;
    margin-bottom: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    border-radius: 50px;
    box-shadow: -2px -2px 4px -3px var(--text-color),
    inset -1px -1px 4px -3px var(--text-color);
}

.technologies-used li img {
    width: 30px;
    height: 30px;
    border-radius: 50px;   
    object-fit: contain;
}

body.dark-mode .technologies-used li .invert-technology-icon {
    filter: invert(1);
}

body .technologies-used li .reinvert-technology-icon {
    filter: invert(1);
}

body.dark-mode .technologies-used li .reinvert-technology-icon {
    filter: invert(0);
}

.technology-name {
    position: absolute;
    top: 50px;
    left: 50%;
    font-size: 11px;
    transform: translateX(-50%);
}

.redirect-to-github {
    gap: 8px;
    padding: 8px;
    margin-left: auto;
    box-shadow: -2px -2px 4px -3px var(--text-color),
    inset -1px -1px 4px -3px var(--text-color);
}

@media screen and (max-width: 700px) {
    #projects main {
        gap: 15px;
        place-items: center;
        grid-template-columns: 1fr;
    }

    .project-container {
        max-width: 400px;
    }

    .project-title {
        font-size: 20px;
    }
    
    .project-description {
        font-size: 16px;
    }

    .technologies-used li {
        width: 35px;
        height: 35px;
    }

    .technologies-used li img {
        width: 23px;
        height: 23px;
    }

    .technology-name {
        position: absolute;
        top: 45px;
        left: 50%;
        font-size: 11px;
    }
}

@media screen and (max-width: 500px) {
    .project-container {
        max-width: 350px;
    }
}