:root {
    --sidebar-width: 280px;
    --text-color: #333;
    --secondary-text-color: #666;
    
    --white-color: #fdfdfd;
    --primary-bg-color: #fdfdfd;
    --secondary-bg-color: #f2f2f7;
    /* --main-color: #08a4a7; */
    --main-color: #ffc461;
    --secondary-color: #888;
    --border-color: hsl(0, 0%, 84%);
    --shadow-color: rgba(0, 0, 0, .15);
}

.dark-mode {
    --text-color: #fdfdfd;
    --secondary-text-color: hsl(0, 0%, 84%);
    
    --primary-bg-color: hsl(0, 0%, 7%);
    /* --secondary-bg-color: hsla(240, 1%, 17%, 0.75); */
    --secondary-bg-color: hsl(240, 2%, 12%);
    --border-color: hsl(0, 0%, 22%);
    --shadow-color: rgba(255, 255, 255, .1);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    display: grid;
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    grid-template-columns: var(--sidebar-width) 1fr;
}

main {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

main section {
    padding: 30px;
    min-height: 100vh;
    min-height: 100dvh;
}

button {
    height: 45px;
    font-size: 16px;
    width: max-content;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    background: transparent;
    color: var(--text-color);
}

button span {
    color: var(--text-color);
}

button ion-icon {
    font-size: 20px;
}

.article-title {
    font-size: 34px;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
  
.article-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 6px;
    background: var(--main-color);
    border-radius: 3px;
}

.rotate-icon {
    display: inline-block;
    animation: spin 0.4s linear;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(30deg); }
    80% { transform: rotate(340deg); }
    100% { transform: rotate(360deg); }
}

details summary .drop-down-icon {
    transform: rotate(-135deg);
    transition: transform .3s ease;
}

details[open] summary .drop-down-icon {
    transform: rotate(0);
}

@media screen and (max-width: 1024px) {
    body {
        padding-top: 65px;
        display: flex;
        height: max-content;
        flex-direction: column;
    }

    .main-content section {
        width: 100vw;
        padding: 80px 30px 10px;
        height: max-content;
        min-height: max-content;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .main-content section {
        padding: 10px 20px;
        padding-top: 80px;
    }
}

@media screen and (max-width: 500px) {
    .main-content section {
        padding: 10px;
        padding-top: 80px;
    }
}